<h1>{{ title }}</h1>

<div class="container">
  <form action="">
    <div class="col-xs-3">
      <label for="numero1">Número 1: </label>
      <input type="number" class="form-control" id="numero1" name="numero1" [(ngModel)]="numero1" />
    </div>

    <div class="col-xs-3">
      <label for="numero2">Número 2: </label>
      <input type="number" class="form-control" id="numero2" name="numero2" [(ngModel)]="numero2" />
    </div>

    <br>
    
    <div class="col-xs-3">
      <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-success" />
      <input type="submit" value="Restar" (click)="restar()" class="btn btn-warning" />
      <input type="submit" value="Multiplicar" (click)="multiplicar()" class="btn btn-primary" />
      <input type="submit" value="Dividir" (click)="dividir()" class="btn btn-danger" />
    </div>

  </form>
</div>

<p>Resultado: {{ resultado }}</p>

<p>{{ resultado % 2 == 0 ? "Es Par" : " Es Impar" }}</p>


